body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	width: 100%;
	height: 27px;
	text-align: left;
	background-color: #C80815;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

header h1 {
	font-size: 30px;
	color: white;
	margin: 0;
}

header h1 a {
	color: white;
	text-decoration: none;
}

header input {
	width: 300px;
	float: right;
	height: 25px;
	font-size: 23px;
	right: 0;
	top: 0;
	border:0;
	background-color: #A60711;
}

footer {
	background-color: #D3D3D3;
	text-align: center;
	font-size: 0.7em;
	margin: 0;
	padding: 5px;
	display: block;
	float: right;
	width: 100%;
}

img {
	max-width:150px;
	max-height:150px;
	padding: 8px;
}

img.single {
	max-width: 80%;
	max-height: 80%;
}

div.container {
	width: 180px;
	height: 180px;
	padding: 10px;
	margin: 20px;
	float:left;
	border:1px solid black;
	text-align: center;
	vertical-align: middle;
	display: inline;
}

div.image {
	width: 150px;
	height: 150px;
	margin:auto;
}

div#container {
	display: block;
	background-image:url(./background.png);
	background-repeat: repeat;
}

div#singleContainer {
	width: 100%;
	text-align: center;
}

div#head_container {
	max-width: 700px;
	margin: auto;
}

div.container input {
	width: 170px;
}

footer a {
	color: black;
	text-decoration: underline;
}